<ul class="breadcrumb">
  <li>
    <%= link_to @repository.name, repository_path(@repository) %>
    <span class="divider">/</span>
  </li>
  <% @path.split("/").each_with_index do |part,index| %>
    <li>
      <% if index == @path.split("/").length - 1 %>
        <%= part %>
      <% else %>
        <%= link_to part, tree_repository_path(@repository, @branch, @path.split("/")[0..index].join("/")) %>
        <span class="divider">/</span>
      <% end %>
    </li>
  <% end %>
</ul>
