<div class="container">
  <ul class="breadcrumb nav-pills mastercrumb pull-left">
    <li>
      <%= link_to current_user.name, repositories_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to @repository.name, repository_path(@repository) %>
    </li>
  </ul>

  <div class="btn-group pull-right">
    <a href="<%= edit_repository_path(@repository) %>" class="btn">
      <i class="icon-wrench"></i>
      Admin
    </a>
  </div>
</div>

<div class="subnav subnav-fixed">
  <ul class="mainlinks nav nav-pills">
    <li><%= link_to "Code", repository_path(@repository), class: "mainlink" %></li>
  </ul>
</div>

