<div class="span4">
  <p>
    <%= link_to 'New Repository', new_repository_path, :class => "btn" %>
  </p>

  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Repositories (<%= @repositories.count %>)</li>
      <% @repositories.each do |repository| %>
        <li><%= link_to repository.name, repository %></li>
      <% end %>
    </ul>
  </div>
</div>
