<div class="content">
  <div class="primary">
    <h2>Sign up</h2>
    <span class="descriptor">Push button deployment</span>
    <%= render "form" %>
  </div>
  <hr class="verticalBar"/>
  <div class="secondary">
    <h2>Sign in</h2>
    <span class="descriptor"> social media place holder</span>
  </div>
</div>
<%= render :partial => "devise/shared/links" %>
