<h1><%= "#{@job.repository.name} (#{@job.branch})" %></h1>
<h2><%= "#{@job.job_environment} - #{@job.job_type}" %></h2>
<pre class="consoleLog" id="log"></pre>
<script>
  function waitForMsg(){
    $.ajax({
      type: "GET",
      url: "<%= @job.id %>/log",
      success: function(data){
        elem = $("#log");
        elem.text(data);
        setTimeout('waitForMsg()', 1000);
      },
      error: function(XMLHttpRequest, textStatus, errorThrown){
        $("#log").text(textStatus + " (" + errorThrown + ")");
        setTimeout('waitForMsg()', "15000");
      }
    });
  }
  $(document).ready(function(){
    waitForMsg();
  });
</script>
