<% if user_signed_in? %>
Welcome <%= current_user.name %>
<% else %>



  <div class="landing">
    <div class="welcome">
      <div class="logo">
        <div class="asciiArt">
                       _             
     /\               (_)            
    /  \   _ __  _ __  _  __ _ _ __  
   / /\ \ | '_ \| '_ \| |/ _` | '_ \ 
  / ____ \| |_) | |_) | | (_| | | | |
 /_/    \_\ .__/| .__/|_|\__,_|_| |_|
          | |   | |                  
          |_|   |_|                  
        </div>
        <div class="logoDescription">
          <div class="mallText">Code</div>
          <div class="mallText">Version</div>
          <div class="mallText">Deploy</div>
        </div>
        <br class="clear">
      </div>
      <div class="copy">Welcome to the cloud.</div>
    </div>
  </div>

  <div class="signInWrap">
    <div class="signIn signInBox">
      <%= render "devise/sessions/form" %>
    </div>
    <hr class="verticalBar">
    <a href="#gitLoginLink" class="signInBox gitSignIn">
      <img src="assets/octodex.gif">
      <div>Sign In with Git</div>
    </a>
  </div>

  <div class="appianInfo">
    <div class="icon">
    </div>
    <div class="descriptionText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet hendrerit sapien ac posuere.
    </div>
  </div>

  <div class="appianInfo">
    <div class="icon">
    </div>
    <div class="descriptionText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet hendrerit sapien ac posuere. Vivamus eget massa nisi, nec interdum arcu. Suspendisse accumsan gravida lacinia.
    </div>
  </div>
<% end %>

