// Place all the styles related to the Repositories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.branch-dropdown {
  margin-right: 10px;
  margin-top: 2px;
}

.mastercrumb {
  font-size: 20px;
  background: none;
  border: none;

  li > a {
    padding-left: 0;
    padding-right: 0;
  }
}

.commit {
  margin-top: 4px;
  margin-bottom: -1px;
}

.commit_sub {
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 18px;
  padding: 6px;
}

.well.description {
  padding: 8px;
  margin: 6px;
}

input.giturl {
  font-family: monospace;
  font-size: 12px;
  color: #666;
}

.diff {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%
}

.diff-add {
  background: lightgreen;
}

.diff-remove {
  background: lightpink;
}

.diff-control {
  background: #EAF2F5;
}

.subnav {
  .mainlinks {
    margin-bottom: 0;
    .mainlink {
      color: black;
      font-weight: bold;
      border-right: 1px solid #EEE;
      border-right-color: rgba(0, 0, 0, 0.04);
      text-shadow: 0 1px 0 white;
      line-height: 28px;
    }
  }
  background-color: #eeeeee;
}

